a {
  color: black;
}
a:hover {
  color: black;
  text-decoration-line: underline;
}
.ui a:hover {
  text-decoration: none;
}
.maelstrom-gradient, .maelstrom-gradient.card, .row .cards .maelstrom-gradient {
  background-image: linear-gradient(to right, white, #ffcccc)
}
.adder-gradient, .adder-gradient.card, .row .cards .adder-gradient {
  background-image: linear-gradient(to right, white, #ffffcc)
}
.flames-gradient, .flames-gradient.card, .row .cards .flames-gradient {
  background-image: linear-gradient(to right, white, #d9d9d9)
}
.player-card > .corner {
  border-color: transparent !important;
  cursor: default !important
}
.player-card > .content {
  border-top: 0 !important
}
.player-card > .corner > i {
  cursor: pointer !important
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.default-text-family {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
pre a,p a{
  text-decoration-color: lightgrey;
  text-decoration-line: underline;
}